{% if settings.instagram_id is not empty and settings.instagram_token is not empty %}
<div class="instagram-container pad">
  <div class="container">
    <div class="row images">
      <div class="col-sm-12">
        <h3 class="text-center upper">{{ settings.instagram_title }}</h3>
        <div class="instagram"></div>
      </div>
    </div>
  </div>
</div>
{% endif %}
