<div class="instagram-container pad">
  <div class="container">
    <div class="row images">
      <div class="col-sm-12">
        <h3 class="text-center upper">{{ settings.instagram_title }}</h3>
        <div class="instagram"></div>
      </div>
    </div>
  </div>
</div>
