{% if settings.show_newsletter %}
  {% if internal is not defined %}
    {% set internal = false %}
  {% endif %}
  {% if internal == false %}
      <div class="newsletter pad">
        {% form 'newsletter' %}
          <div class="container">
            <div class="row line">
              <div class="col-sm-4 vcenter">
                <p>¡Enterate de nuestras ofertas!</p>
              </div>
              <div class="col-sm-4 vcenter">
                <input type="text" name="newsletter" placeholder="Escribe tu email aquì">
              </div>
              <div class="col-sm-4 vcenter">
                <button type="submit" class="btn col-xs-12">Suscríbete</button>
              </div>
            </div>
          </div>
        {% endform %}
      </div>
  {% else %}
    <div class="newsletter--internal pad">
      <div class="pad-min"></div>
        {% form 'newsletter' %}
          <div class="container">
            <div class="row line">
              <div class="col-sm-12 text-center">
                <h2 class="c-brand upper">¿Te gusta lo que estás leyendo?</h2>
                <p>Inscríbete contenido exclusivo, ofertas especiales y noticias.</p>
              </div>
              <div class="col-sm-12 pad-min"></div>
              <div class="col-sm-4 col-sm-offset-2 vcenter">
                <input type="text" name="newsletter" placeholder="Escribe tu email aquí">
              </div>
              <div class="col-sm-4 vcenter">
                <button type="submit" class="btn col-xs-12">Suscríbete</button>
              </div>
            </div>
          </div>
        {% endform %}
      <div class="pad-min"></div>
    </div>
  {% endif %}
{% endif %}
