<div class="row">
  <div class="col-sm-12">
    <div class="pad">
      <div class="placeholder-help">
        <div class="placeholder-helper">
          <div class="placeholder-info">
            <p>Lo sentimos, no hay productos que conicidan con su búsqueda.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
