{% extends 'layout.twig' %}

{% block body %}
<div class="container page">
  <div class="row">
    <div class="col-xs-12 c-brand-h">
      <h1 class="c-brand upper">Crea una cuenta</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    {% form 'customer_register' 'role="form" class="login-form"' %}
    <div class="form-group">
      <input type="text" class="form-control input-lg" id="first_name" name="first_name" placeholder="Nombre" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control input-lg" id="last_name" name="last_name" placeholder="Apellido" required>
    </div>
    <div class="form-group">
      <input type="email" class="form-control input-lg" id="email" name="email" placeholder="Correo electr칩nico" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control input-lg" id="password" name="password" placeholder="Contrase침a" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-action">Crear cuenta</button>
      칩 <a href="/cuenta/login">Iniciar Sesi칩n</a>
    </div>
    {% endform %}
    </div>
  </div>
</div>
{% endblock %}
