{% extends 'layout.twig' %}

{% block body %}
<div class="collection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 c-brand-h">
        <h1 class="c-brand upper">{{ collection.title | escape }}</h1>
        <p>{{ collection.description }}</p>
      </div>
    </div>
    <div class="row">
      {% if settings.show_collections_sidebar %}
      <div class="col-md-3 categories-filter">
        <div class="sidebar">
          <h4>Colecciones</h4>
          <hr>
          <div class="categories__container">
            <ul class="category">
            {% for collection_element in collections %}
              {% include '_collection_tree_item.twig' with { 'collection': collection_element } only %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="{% if settings.show_collections_sidebar %}col-md-9{% else %}col-md-12{% endif %}">
      {% if products.count == 0 %}
        {% include '_products-empty.twig' %}
      {% else %}
        {% set batches = settings.show_collections_sidebar ? 3 : 4 %}
        {% set cols = settings.show_collections_sidebar ? 4 : 3 %}
        <div class="row">
          <div class="col-xs-12 featured-products">
            {% for products_row in products | batch(batches) %}
            <div class="row">
              {% for product in products_row %}
                <div class="col-xs-12 col-sm-6 col-md-{{ cols }}">
                  {% include "_product-card.twig" %}
                </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>

        {% include '_pagination.twig' %}

      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
