{% extends 'layout.twig' %}

{% block main_title %}
  404 Página no disponible
{% endblock main_title %}

{% block body %}
<div class="error text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="c-brand upper">Página no encontrada</h1>
        <p>La página que estás buscando no existe.
        Si no estás seguro de cómo llegaste a esta página, vuelve a la página anterior o visita nuestra <a href="/">página de inicio.</a></p>
        <div class="pad-min"></div>
        <a href="/" class="btn">Volver al inicio</a>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
