{% extends 'layout.twig' %}

{% block body %}
<div class="container text-center">
  <div class="row">
    <div class="col-sm-12 c-brand-h">
      <h1 class="c-brand upper">Página no encontrada</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>
        La página que estás buscando no existe.
        Si no estás seguro de cómo llegaste a esta página, vuelve a la página anterior o visita nuestra <a href="/">página de inicio.</a>
      </p>
      <a href="/" class="btn">Volver al inicio</a>
    </div>
  </div>
</div>
{% endblock %}
