{% extends 'layout.twig' %}

{% block body %}
<div class="container">
  <div class="row">
      <div class="col-xs-12 c-brand-h">
        <h1 class="c-brand upper">{{ page.title | escape }}</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2 page__content">
      {{ page.content }}
    </div>
  </div>
</div>
{% endblock %}
